.select {
  margin-left: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: var(--bgColor);
  cursor: pointer;
  /* only can use named colors */
  --arrowsWidth: 8px;
  background-image: url('data:image/svg+xml;utf8,<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path stroke="dimGrey" stroke-linecap="round" stroke-linejoin="round" d="M7.33342 4.678L4.00008 1L0.666748 4.678M0.666748 9.32L4.00008 12.998L7.33342 9.32" /></svg>');
  background-repeat: no-repeat;
  background-position-x: calc(100% - var(--arrowsWidth));
  background-position-y: 50%;
  color: var(--textColor);
  outline: none;
  border: 1px solid var(--borderColor);
  height: var(--_height);
  font-size: var(--_fontSize);
  border-radius: var(--_borderRadius);
}

.select[disabled] {
  cursor: not-allowed;
}

.large {
  padding: 0 14px;
  padding-right: calc(var(--arrowsWidth) + 14px);
  --_fontSize: var(--fontSize-l);
  --_height: var(--inputHeight-l);
  --_borderRadius: var(--borderRadius-l);
}

.medium {
  padding: 0 10px;
  padding-right: calc(var(--arrowsWidth) + 10px);
  --_height: var(--inputHeight-m);
  --_fontSize: var(--fontSize-m);
  --_borderRadius: var(--borderRadius-m);
}

.small {
  padding: 0 6px;
  padding-right: calc(var(--arrowsWidth) + 6px);
  --_fontSize: var(--fontSize-s);
  --_height: var(--inputHeight-s);
  --_borderRadius: var(--borderRadius-s);
}

:global([data-themeType="dark"]) .select {
  /* only can use named colors */
  background-image: url('data:image/svg+xml;utf8,<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path stroke="white" stroke-linecap="round" stroke-linejoin="round" d="M7.33342 4.678L4.00008 1L0.666748 4.678M0.666748 9.32L4.00008 12.998L7.33342 9.32" /></svg>');
}
